
<%= render 'shared/sub_menu' %>


<% if @study_materials.empty? %>
	<div class="alert alert-info"> You haven't added any study materials. </div>
<% else %>
	<%= will_paginate %>

		<div class="study_materials">

			<%= render 'shared/alert_message' %>

			<!-- For showing the index correctly -->
			<% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
			  	<% x = 0 %>
			<% else %>
			  	<% page = params[:page].to_i - 1 %>
			  	<% x = page * 15 %>
			<% end %>
			<!-- end of the index calculation -->

			<table class="table table-hover table-bordered">
				<tr>
					<th>#</th>
					<th>Title</th>
					<th>Link</th>
					<th> Update </th> 
				</tr>

				<% @study_materials.each_with_index do |study_material, index| %>

					<tr>
						<td> <%= index + 1 + x %> </td>
						<td> <%= link_to study_material.title, study_material  %> </td>
						<td> <%= link_to "", study_material.link, :class => "glyphicon glyphicon-link", :target => "_blank" %> </td>
						<td>
							<% if current_user.id == study_material.user_id %> 
									<%= link_to "", edit_study_material_path(study_material), :title => study_material.title, :class => "glyphicon glyphicon-edit edit_delete_space" %> 
									<%= link_to "", user_study_material_path(current_user,study_material), :method => :delete, :confirm => "You sure?",:title => study_material.title, :class => "glyphicon glyphicon-trash" %>
							<% else %>
								Disabled
							<% end %> 
						</td>

					</tr>
				<% end %>
			</table>	
		</div>

	<%= will_paginate %>
<% end %>