<% if ( ( @main_tab == :learn ) and ( @sub_tab == :current or @sub_tab == :completed or @sub_tab == :dropped ) )  %>
			<!-- Sub Navigation Bar  Start-->		
			<ul class="nav nav-tabs sub-nav-bar" role="tablist">
				<% base_url = '/courses/enrolled' %>
			  <li class="<%= "active" if @sub_tab == :current %>"><a href="<%= base_url %>/current">Current</a></li>
			  <li class="<%= "active" if @sub_tab == :completed %>"><a href="<%= base_url %>/completed">Completed</a></li>
			  <li class="<%= "active" if @sub_tab == :dropped %>"><a href="<%= base_url %>/dropped">Dropped</a></li>
			</ul>
			<!-- Sub Navigation Bar end -->
<% elsif @main_tab == :teach %>
			<!-- Sub Navigation Bar  Start-->		
			<ul class="nav nav-tabs sub-nav-bar" role="tablist">
				<li class="dropdown <%= "active" if @sub_tab == :study_materials %>">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          	Study Materials
			          	<span class="caret"></span>
			        </a>
			        <ul class="dropdown-menu" role="menu">
			            <li><%= link_to "My Materials", study_materials_path %></li>
			            <li><%= link_to "All Materials", "/study_materials/filter/all" %></li>
			            <li><%= link_to "Add New", new_study_material_path %></li>
			        </ul>
			    </li>

			  	<li class="<%= "active" if @sub_tab == :courses %>">
			  		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			          	Courses
			          	<span class="caret"></span>
			        </a>
			        <ul class="dropdown-menu" role="menu">
			            <li><%= link_to "My Courses", courses_path %></li>
			            <li><%= link_to "Add New", new_course_path %></li>
			        </ul>
			  	</li>
			  	<li class="<%= "active" if @sub_tab == :students %>"><a href="/students">Students</a></li>
			</ul>
			<!-- Sub Navigation Bar end -->
<% end %>

<br/ >