
<!-- List each course -->

<% col1, col2 = (current_user.id == course.user_id) ? [7,5] : [8,4] %>

	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="row">
				<div class="col-md-<%= col1 %>">
					<%= link_to course.name, course, :title => "Go to this Course" %>
					<small class="sub"> by <%= User.find(course.user_id).nickname.downcase %></small>
				</div>
				<div class="col-md-<%= col2 %>">
					<span class="glyphicon glyphicon-star" title="Rated by <%= course.rating_user_count %> users"> 
						<%= course.rating_user_count == 0 ? 0.0 : course.rating %>
					</span>
					<span class="glyphicon glyphicon-eye-open" title="Users taking this course now">
						<%= course.learning_processes.where("`status` = 2 or `status` = 3").count %>
					</span>
					<span class="glyphicon glyphicon-user" title="Users who took this course">
						<%= course.learning_processes.count - course.learning_processes.where("`status` = 2 or `status` = 3").count %>
					</span>
					<%= link_to course do %>
						<span class="glyphicon glyphicon-link" title="Go to the course"></span>
					<% end %>
					<% if current_user.id == course.user_id %> 
						<%= link_to user_course_path(current_user,course), :method => :delete, :confirm => "You sure?"  do %>
							<span class="glyphicon glyphicon-trash" title="Delete this course"></span>
						<% end %>
						<%= link_to edit_user_course_path(current_user, course) do %>
							<span class="glyphicon glyphicon-pencil" title="Edit this course"></span>
						<% end %>
					<% end %>	
				</div>
			</div>
				
		</div>
			<div class="panel-body">
			<%= course.description %>
			</div>
	</div>

<!-- End of each course -->